@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

@mixin form-size {
    max-width: 400px;
    min-width: 250px;
    width: 100%;
}

$header-border-color: #149BAC;
$warning-color: #E18983;
$disabled-button-color: #3C3C3C;
$content-background-color: #262626;
$content-text-color: #D4D5D7;
$input-placeholder-text-color: #8E9294;
$input-other-active-background-color: #584f4f36;
$input-other-disabled-text-color: #4a4a4a;

$content-border: solid #3A3B3D 1px;
$checkmark-size: 14px;
$active-checkmark-size: 8px;

.questions{
    @include flex-center;
    @include form-size;
    flex-wrap: wrap;
}

.form{
    display: flex;
    flex-direction: column;
    .submit_button{
        align-self: end;
        background: $header-border-color;
        padding: 4px 14px;
        border-radius: 4px;
        &:active {
            transform: scale(0.98);
            box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.24);
        }
        &:disabled{
            background: $disabled-button-color;
        }
    }
}

.header{
    .line{
        position: relative;
        border-top: solid $header-border-color 6px;
        margin-bottom: -4px;
        z-index: 1;
        border-radius: 6px 6px 0 0 ;
    }
    .content{
        position: relative;
        background-color: $content-background-color;
        color: $content-text-color;
        border-radius: 4px 4px 6px 6px;
        padding: 16px 12px 12px 12px;
        margin-bottom: 10px;
        border: 0 $content-border $content-border $content-border;
        .text{
            line-height: 16px;
            margin-bottom: 12px;
        }
        .info{
            &_item{
                display: flex;
                margin-bottom: 4px;
                &:last-child{
                    margin-bottom: 0px;
                }
                .text{
                    font-size: 10px;
                    margin-bottom: 0px;
                    &.warning{
                        color: $warning-color;
                    }
                }
            }
        }
    }
    
}

.questions_list{
    @include form-size;
    margin: 40px;
}

.question{
    display: flex;
    flex-direction: column;
    background-color: $content-background-color;
    color: $content-text-color;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 12px;
    border: solid #3A3B3D 1px;

    .content{
        .text{
            .warning{
                color: $warning-color;
            }
        }
        .input_item{
            display: flex;
            align-items: center;
            margin-top: 10px;
            .text{
                font-size: 10px;
            }
            .other{
                background: $input-other-active-background-color;
                &:disabled {
                    background: transparent;
                    color: $input-other-disabled-text-color;
                }
            }
            label{
                display: flex;
                align-items: center;
                .checkmark{
                    min-height: $checkmark-size;
                    max-height: $checkmark-size;
                    min-width: $checkmark-size;
                    max-width: $checkmark-size;
                    border-radius: $checkmark-size;
                    background: transparent;
                    margin-right: 6px;
                    border: 2px solid $content-text-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .active{
                        min-height: $active-checkmark-size;
                        max-height: $active-checkmark-size;
                        min-width: $active-checkmark-size;
                        max-width: $active-checkmark-size;
                        border-radius: $active-checkmark-size;
                        background: $content-text-color;
                    }
                }
                input{
                    display: none;
                }
            }
        }

        &.subquestions{
            .text{
                margin-top: 12px;
            }
        }
    }
}

input {
    border: 0px;
    border-bottom: 1px solid $disabled-button-color;
    background: transparent;
    border-radius: 0px;
    color: $content-text-color;
    font-size: 10px;
    &:focus{
        outline: none;
    }
}

label{
    margin-right: 12px;
}

::placeholder{
    color: $input-placeholder-text-color;
}