<div class="questions">
    <div class="questions_list">

        <div class="header">
            <div class="line"></div>
            <div class="content">
                <h2 class="text">GoTech Questionnaire</h2>
                <div class="info">
                    <div class="info_item">
                        <small class="text">Show me what you got!</small>
                    </div>
                    <div class="info_item">
                        <small class="text warning">* Required</small>
                    </div>
                </div>
            </div>
        </div>

        <form class="form" [formGroup]="profileForm" (submit)="onSubmit()">
            <div formArrayName="subforms">
                <div *ngFor="let qEntity of questionsList?.questions ; let formIndex = index">
                    <!-- <app-question  [question]="qEntity"></app-question> -->

                    <ng-container [formGroupName]="formIndex">
                        <form class="question">
                            <div class="content" *ngIf="qEntity.question.answer.type === 'single'">
                                <h5 class="text">
                                    {{qEntity.question.description}}
                                    <span class="warning" *ngIf="qEntity.question.required">*</span>
                                </h5>
                                <div class="input_item" *ngFor="let options of qEntity.question.answer.options">

                                    <ng-container *ngIf="options !== 'Other'">
                                        <label class="" for={{options}}>
                                            <span class="checkmark">
                                                <div class="active" *ngIf="result(formIndex) === options"></div>
                                            </span>
                                            <input (click)="resetInput(options, qEntity, formIndex)" formControlName="result" type="radio" id={{options}} name="result" value={{options}}>
                                            <span class="text">{{options}}</span>
                                        </label>
                                    </ng-container>

                                    <ng-container *ngIf="options === 'Other'">
                                        <label class="" for={{options}}>
                                            <span class="checkmark">
                                                <div class="active" *ngIf="result(formIndex) === options"></div>
                                            </span>
                                            <input (click)="enableInput(formIndex)" formControlName="result" type="radio" id={{options}} name="result" value={{options}}>
                                            <input formControlName="result" type="radio" id={{options}} name="result" value={{options}}>
                                            <span class="text">{{options}}</span>
                                        </label>
                                        <input class="other" formControlName="otherValue">
                                    </ng-container>

                                </div>
                            </div>

                            <div class="content" *ngIf="qEntity.question.answer.type === 'text'">
                                <h5>{{qEntity.question.description}}</h5>
                                <input placeholder="Your answer" formControlName="result">
                            </div>

                            <div class="content subquestions" *ngIf="qEntity.question.subquestions">
                                <ng-container class="" *ngFor="let item of qEntity.question.subquestions | keyvalue">
                                    <ng-container *ngIf="result(formIndex) === item.key">
                                        <h5 class="text">
                                            {{item.value.description}}
                                            <span class="warning" *ngIf="item.value.required">*</span>
                                        </h5>
                                        <div class="input_item">
                                            <input placeholder="Your answer" formControlName="subquestions"> 
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>

                            <!-- <div>Errors: {{valid(formIndex) | json}}</div> -->

                        </form>
                    </ng-container>
                </div>
            </div>
            <button [disabled]="profileForm.status !== 'VALID'" class="submit_button">
                <small>Submit</small>
            </button>
        </form>
    </div>  
</div>
