html, body { height: 100%; }


body {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #3E303A;}
h1{
  font: 28px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin: 0 0 20px;
}
h2{
  font: 22px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
}
h5{
  font: 12px Roboto, "Helvetica Neue", sans-serif;
    margin: 0 0 12px;
}
button{
  border: none;
  outline: none;
}
